body {
    font-family: Arial, sans-serif;
    background-color: #82aad1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: rgb(78, 62, 199);
    padding: 25px;
    border-radius: 10px;
    width: 350px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

input, select, button {
    width: 100%;
    height: 45px;
    padding: 10px;
    box-sizing: border-box;
    font-size: 16px;
    margin: 10px 0;
}

button {
    background-color: #080a0e;
    color: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.result-box {
    margin-top: 20px;
    padding: 15px;
    border: 2px #080c10;
    border-radius: 8px;
    background-color: #f8fbff;
}

.result-box h4 {
    margin: 0 0 10px 0;
    color: #007bff;
}

#result {
    font-size: 18px;
    font-weight: bold;
}

